.container {
    background-image: url("./grid_dark.png");
    color: #eeeeee;
}

.input {
    caret-color: #eeeeee;
}

.titleBar {
    background-color: #0767B3;
}
.titleBar.unfocused {
    background-color: #808080;
}
.titleBarDropdown {
    background-color: #333;
}