@font-face {
    font-family: "PatrickHand";
    src: 
        local("PatrickHandE"), 
        url("./img/PatrickHand-RegularE.ttf") format("truetype");
}

.titleBar {
    height: 29.5px;
    background-color: #3393DF;
    -webkit-app-region: drag;
    padding: 0;
    margin: 0;
}
.titleBar > p {
    color: white;
    position: absolute;
    padding: 0;
    margin: 2px 0 0 10px;
    font-size: 18px;
    font-family: "PatrickHand", Arial, sans-serif;
}